<div class="grid">
  <div class="col-fixed" style="min-width:20vw">
    <div class="card flex justify-content-center">
      <p-orderList class="qcm-list" [listStyle]="{ 'height': '100%' }" header="Liste des Qcm" filterBy="nom" filterPlaceholder="Filter by nom" [value]="qcms">
          <ng-template let-qcm pTemplate="item">
              <div class="flex flex-column justify-content-center flex-wrap" (click)="loadQuestionsForQcm(qcm)">
                  <h3 class="mt-0 mb-0 flex align-items-center justify-content-center">{{ qcm.nom }}</h3>
                  <p class="mt-0 mb-0 flex align-items-center justify-content-center">temps: {{ qcm.temps | secondsToTime }}</p>
                  <p class="mt-0 mb-0 flex align-items-center justify-content-center">point: {{ qcm.point }}</p>
              </div>
              <p-divider></p-divider>
          </ng-template>
      </p-orderList>
    </div>
  </div>


  <div class="col qcm-content">
    <p-orderList [value]="selectedQcmQuestions" [listStyle]="{ 'max-height': '30rem' }" header="Products" [dragdrop]="true">
      <ng-template let-question pTemplate="item">
        <div class="question-details">
          <p>ID: {{question.id}}</p>
          <p>Categorie: {{question.categorie}}</p>
          <p>Technologie: {{question.technologie}}</p>
       </div>
      </ng-template>
    </p-orderList>
  </div>
</div>
