<div class="card flex justify-content-end mt-4 mr-4">
  <button pButton pRipple class="p-button-success" *ngIf="mode === 'create-candidat'" (click)="toggleMode()">
    <span>Voir les Candidats</span>
  </button>
  <button pButton pRipple class="p-button-danger" *ngIf="mode === 'view-candidats'" (click)="toggleMode()">
    <span>Ajouter un Candidat</span>
  </button>
</div>

<section *ngIf="mode === 'create-candidat'" class="create-candidat">
  <h1 class="flex align-items-center justify-content-center">Créer un Candidat</h1>
  <form [formGroup]="createCandidatForm" (ngSubmit)="onSubmit()" class="flex flex-column align-items-center justify-content-center">
    <span class="p-float-label mt-2">
      <input pInputText id="nom"  pInputText formControlName="nom"/>
      <label htmlFor="nom">Nom du candidat</label>
    </span>
    <span class="p-float-label mt-4">
      <input pInputText id="prenom"  pInputText formControlName="prenom"/>
      <label htmlFor="prenom">prénom du candidat</label>
    </span>
    <div class="switch mt-4 flex">
      <p class="flex align-items-center justify-content-center mr-2" *ngIf="entretienSwitch === false">Clickez pour sélectionner un test</p>
      <p class="flex align-items-center justify-content-center mr-2" *ngIf="entretienSwitch === true">Clickez pour créer un test</p>
      <p-inputSwitch (click)="EntretienToggle()" class="flex align-items-center justify-content-center"></p-inputSwitch>
    </div>
    <ng-container *ngIf="entretienSwitch === false">
      <p-dropdown class="mt-4" [options]="(allQcms$ | async) || []" formControlName="qcm" optionLabel="nom" [filter]="true" filterBy="nom" [showClear]="true" placeholder="Sélectionner un Qcm" [style]="{'width':'400px'}">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedQcm">
            <div>{{ selectedQcm.nom }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <p-dropdown class="mt-4" [options]="sandboxOptions" formControlName="sandbox" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Sélectionner une Sandbox" [style]="{'width':'400px'}">
      </p-dropdown>
    </ng-container>
    <ng-container *ngIf="entretienSwitch === true">
      <p-dropdown class="mt-4" [options]="entretienOptions" formControlName="entretien" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Sélectionner un Test" [style]="{'width':'400px'}">
      </p-dropdown>
    </ng-container>
    <button type="submit" [disabled]="!createCandidatForm.valid" class="btn mt-4">Créer le candidat</button>
  </form>
</section>

<section *ngIf="mode === 'view-candidats'">
  <div class="grid">
    <div class="col-fixed" style="min-width:20vw">
      <h1>List des candidats</h1>
      <div class="card flex justify-content-center">
        <p-orderList class="candidat-list" [listStyle]="{ 'max-height': '55vh' }" header="Liste des Candidats" filterBy="nom" filterPlaceholder="Filter by nom">
          <ng-template let-item pTemplate="item">
            <div class="flex flex-column justify-content-center flex-wrap">
              <h3 class="mt-0 mb-0 flex align-items-center justify-content-center">{{ item.nom }}</h3>
              <p class="mt-0 mb-0 flex align-items-center justify-content-center">{{ item.prenom }}</p>
              <p class="mt-0 mb-0 flex align-items-center justify-content-center"> {{ item.qcmName }}</p>
            </div>
            <p-divider></p-divider>
          </ng-template>
        </p-orderList>
      </div>
    </div>
    <div class="col">
      <h1>Résultat</h1>
    </div>
  </div>
</section>
