<!-- view-question-component.html -->
<p-toast></p-toast>
<div class="card flex justify-content-end mt-4 mr-4">
  <button pButton pRipple class="p-button-success" *ngIf="!toggleAddQuestion" (click)="toggleAddQuestion = true">
    <span>Ajouter une question</span>
    <i class="pi pi-plus ml-2"></i>
  </button>
  <button pButton pRipple class="p-button-danger" *ngIf="toggleAddQuestion" (click)="toggleAddQuestion = false">
    <span>Cacher le formulaire</span>
    <i class="pi pi-minus ml-2"></i>
  </button>
</div>
<app-share-question mode="edit" *ngIf="toggleAddQuestion" (onSave)="handleSave($event)"></app-share-question>

<p-divider></p-divider>
<div class="list-question">
  <h1 class="card flex justify-content-center">Liste des questions</h1>
  <div class="card flex justify-content-evenly mb-3">
    <p-dropdown [(ngModel)]="categorieSelectionnee" [options]="categories"  optionLabel="name" placeholder="Sélectionner une catégorie" (onChange)="updateQuestionsList()" [style]="{'min-width':'270px'}"></p-dropdown>
    <p-dropdown [(ngModel)]="technologieSelectionnee" [options]="technologies" optionLabel="name" placeholder="Sélectionner une Technologie" (onChange)="updateQuestionsList()" [style]="{'min-width':'270px'}"></p-dropdown>
    <p-dropdown [(ngModel)]="niveauSelectionne" [options]="niveaux" optionLabel="name" placeholder="Sélectionner un Niveaux" (onChange)="updateQuestionsList()" [style]="{'min-width':'270px'}"></p-dropdown>
    <button (click)="reinitialiserFiltres()" class="btn mt-0">Réinitialiser les Filtres</button>
</div>
  <ng-container *ngFor="let question of filteredQuestions$ | async">
    <app-share-question [questionDto]="question" [mode]="'display'" (onSave)="handleSave($event)" (onDelete)="deleteQuestion($event)"></app-share-question>
  </ng-container>
</div>

