<section class="add-question">
  <h1>Rajouter une question</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
      <p-dropdown formControlName="categorie" [options]="categories" placeholder="Categorie"></p-dropdown>
      <p-dropdown formControlName="technologie" [options]="technologies" placeholder="Technologie"></p-dropdown>
      <p-dropdown formControlName="niveau" [options]="niveaux" placeholder="Niveau"></p-dropdown>
    </div>

    <div class="row">
      <div class="input-number">
        <label for="temps">Temps</label>
        <p-inputNumber id="temps" formControlName="temps" [min]="0" mode="decimal" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" placeholder="Temps"
        decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
      </div>
      <div class="input-number">
        <label for="points">Points</label>
        <p-inputNumber id="points" formControlName="points" [min]="0" mode="decimal" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" placeholder="Points"
        decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
      </div>
    </div>

    <textarea rows="5" cols="30" pInputTextarea formControlName="question" placeholder="Question" required></textarea>

    <div class="list-reponses" formArrayName="responses" *ngFor="let reponseFormGroup of reponses.controls; let i = index">
      <div [formGroupName]="i">
          <span class="p-float-label">
              <input pInputText formControlName="text" placeholder="Réponse {{ i + 1 }}" />
              <label>Réponse {{ i + 1 }}</label>
          </span>

          <div class="flex align-items-center gap-1">
              <label for="correct{{ i }}">Correct</label>
              <p-checkbox formControlName="correct" value="true" inputId="correct{{ i }}"></p-checkbox>
          </div>
      </div>
    </div>

    <div *ngIf="reponses.hasError('required')" class="error-message">
      Au moins une réponse est requise.
    </div>

    <button class="btn" type="submit">Enregistrer</button>
  </form>
</section>


<section class="list-question">
  <h1>Liste des questions</h1>
    <ng-container *ngFor="let question of questions">
      <p-fieldset legend="{{question.technologie}}: {{question.question}}"  [toggleable]="true" [collapsed]="true">
        <p-fieldset legend="Les paramètres" [toggleable]="true" [collapsed]="true">
          <div class="details-question">
            <p>niveau : {{question.niveau | lowercase}}</p>
            <p>Catégorie : {{question.categorie | lowercase}}</p>
            <p>nombre de point : {{question.point}} points</p>
            <p>Temps : {{question.temps}} secondes</p>
            <p>Technologie : {{question.technologie}} secondes</p>
          </div>
      </p-fieldset>
      <p-fieldset legend="Les propositions" [toggleable]="true" [collapsed]="true">
        <div class="reponses" *ngFor="let reponse of question.reponses">
          <p [ngClass]="{ 'classe-true': reponse.correct, 'classe-false': !reponse.correct }">{{reponse.reponse}}</p>
      </div>
    </p-fieldset>
      </p-fieldset>
    </ng-container>
</section>
