<!-- view-question-component.html -->
<app-share-question mode="edit" (onSave)="handleSave($event)"></app-share-question>
<p-divider></p-divider>
<div class="list-question">
  <h1 class="card flex justify-content-center">Liste des questions</h1>
  <div class="card flex justify-content-evenly mb-3">
    <p-dropdown [(ngModel)]="categorieSelectionnee" [options]="categories"  optionLabel="name" placeholder="Sélectionner une catégorie" (onChange)="updateQuestionsList()"></p-dropdown>
    <p-dropdown [(ngModel)]="technologieSelectionnee" [options]="technologies" optionLabel="name" placeholder="Sélectionner une Technologie" (onChange)="updateQuestionsList()"></p-dropdown>
    <p-dropdown [(ngModel)]="niveauSelectionne" [options]="niveaux" optionLabel="name" placeholder="Sélectionner un Niveaux" (onChange)="updateQuestionsList()"></p-dropdown>
    <button (click)="reinitialiserFiltres()">Réinitialiser les Filtres</button>
</div>
  <ng-container *ngFor="let question of filteredQuestions$ | async">
    <app-share-question [questionDto]="question" [mode]="'display'" (onSave)="handleSave($event)" (onDelete)="deleteQuestion($event)"></app-share-question>
  </ng-container>
</div>

