.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.question {
  min-height: 75px;

  strong{
    margin-right: 15px;
    text-decoration: underline;
  }
}

.form{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 130px;
}

.validate-answer {
  color: red;
}
