<section class="qcm" *ngIf="activeSection === 'qcm'">
  <div class="message">
    <p-card header="La zone de test">
      <p class="m-0">
        Bonjour et bienvenue chez Mipih ! Nous sommes ravis que vous ayez choisi de postuler pour un poste de développeur au sein de notre entreprise.
        Aujourd'hui, vous allez passer deux tests pour évaluer vos compétences. Le premier est un QCM chronométré ; vous aurez un temps limité pour répondre
        aux questions, alors assurez-vous d'être bien concentré. Le second test est un exercice de programmation où vous aurez une série de tâches à accomplir.
        Prenez votre temps pour comprendre les consignes et faites de votre mieux. Nous sommes impatients de découvrir votre potentiel. Bonne chance à vous !
      </p>
    </p-card>
  </div>
  <div class="button">
    <button class="btn" type="submit" (click)="towardTest()">Commencer le Qcm</button>
  </div>
</section>

<section class="sandbox" *ngIf="activeSection === 'sandbox'">
  <div class="message">
    <p-card header="La zone de test">
      <p class="m-0">
        Maintenant test de code
      </p>
    </p-card>
  </div>
  <div class="button">
    <button class="btn" type="submit" (click)="towardTest()">Commencer le code</button>
  </div>
</section>

